.block_banners.mb-145.discounts
  .grid-container
    .grid-row
      .grid-col-12.banner_item.banner_full
        .banner_inner.light-pers
          .product_banners
            .product_banner.product_banner_cat_title
              svg(width='48', height='48', viewBox='0 0 48 48')
                circle(cx='24', cy='24', r='22')
              span.product_banner_text Последняя цена
          .banner_descr
            h3 O'Shea м-201
            p
              | Умный массажер для шеи М-201 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью микротоковой терапии, магнитотерапии, инфракрасного прогревания и комплексного массажа шеи.
            a.more(href='#')
              svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
          .banner_additional_img
            .banner_additional_img_item
              img(src='img/banner_additional_img_1.png', alt='')
            .banner_additional_img_item
              img(src='img/banner_additional_img_2.png', alt='')
          .banner_sale_timer
          .banner_main_img
            img(src='img/banner_main_img_1.png', alt='')
          .banner_sale_descr
            p Период проведения промо-акции: от 02.12.2019 до 19.01.2020
      .grid-col-md-6.grid-col-12.banner_item.banner_half
        .banner_inner
          .product_banners
            .product_banner.product_banner_cat_title
              svg(width='48', height='48', viewBox='0 0 48 48')
                circle(cx='24', cy='24', r='22')
              span.product_banner_text Лучшее предложение
          .banner_descr
            h3 Coconut Baby oil
            p
              | Экономичное и приятное средство для очищения и питания кожи на основе кокосового масла
            a.more(href='#')
              svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
          .banner_main_img
            img(src='img/banner_main_img_2.png', alt='')
      .grid-col-md-6.banner_item.banner_half
        .banner_inner
          .product_banners
            .product_banner.product_banner_cat_title
              svg(width='48', height='48', viewBox='0 0 48 48')
                circle(cx='24', cy='24', r='22')
              span.product_banner_text Лучшее предложение
          .banner_descr
            h3 Sonic Cleaning Brush
            p Ультразвуковая щеточка для чистки лица
            a.more(href='#')
              svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
          .banner_main_img
            img(src='img/banner_main_img_3.png', alt='')
  .block_banners_bg
