.post
  .grid-container
    .grid-row
      .grid-col-md-8.offset-md-2.grid-col-12
        .text_content
          img(src='img/text_page_img_1.jpg')
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
          p Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
          p В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

    .grid-row
      .grid-col-12
        .text_content
          h2 подзаголовок страницы h2

    .grid-row
      .grid-col-lg-6.grid-col-12.col_video
        .video
          .video_preview(style="background-image: url('img/video_preview.jpg')")
          video#myVideo(controls='')
            source(src='https://futuratm.ru/upload/iblock/337/3376e69fe0245088440692e7699b7557.mp4')
          button.button_video
            svg(width='131', height='131', viewBox='0 0 131 131', fill='none', xmlns='http://www.w3.org/2000/svg')
              ellipse(cx='65.447', cy='65.5', rx='65.447', ry='65.5', fill='#2E6D5C')
              path(d='M45.4634 94.1574L45.4634 35.8426L98.8754 65.0006L45.4634 94.1574Z', stroke='white')
      .grid-col-lg-6.grid-col-12
        .text_content
          h3 О gloremi за 2 минуты h3
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.

    .grid-row
      .grid-col-lg-6.grid-col-12
        .text_content
          h3 продукция компании gloremi  сертифицирована в соответствии с мировыми стандартими h3
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.

      .grid-col-lg-6.grid-col-12
        img(src='img/text_page_img_2.jpg')

    .grid-row
      .grid-col-lg-6.grid-col-12
        img(src='img/text_page_img_3.jpg')
      .grid-col-lg-6.grid-col-12
        .text_content
          h3 о gloremi за 2 минуты h3
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.

    .grid-row
      .grid-col-md-8.offset-md-2.grid-col-12
        .text_content
          h2 подзаголовок страницы h2

          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
          p Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
          p В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
          p &nbsp;

          blockquote
            h3 Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
            p &nbsp;
            p.text.gold.ff_prata.t_transform_up Генеральный директор gloremi
            img(src='img/blockquote_triangle.svg')

          p Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

          ul
            li Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
            li Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
            li Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
            li В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
