.myaccount
  .grid-container
    .grid-row
      .grid-col-12.myaccount_btns
        a.btn.btn_bordered Мои данные
        a.btn Мои заказы
        a.logout
          svg(width='50', height='50', viewBox='0 0 50 50', fill='none', xmlns='http://www.w3.org/2000/svg')
            circle(cx='25', cy='25', r='25', fill='#F3E7D7')
            path(d='M30.7424 38.15L30.8924 38.15L30.8924 38L30.8924 37.7093L30.8924 29.8605L30.8924 29.5698L30.8924 29.4198L30.7424 29.4198L30.161 29.4198L30.011 29.4198L30.011 29.5698L30.011 29.8605L30.011 37.2686L17.5203 37.2686L17.5203 13.7314L30.011 13.7314L30.011 21.1395L30.011 21.4302L30.011 21.5802L30.161 21.5802L30.7424 21.5802L30.8924 21.5802L30.8924 21.4302L30.8924 21.1395L30.8924 13.2907L30.8924 13L30.8924 12.85L30.7424 12.85L30.4517 12.85L17.0796 12.85L16.7889 12.85L16.6389 12.85L16.6389 13L16.6389 13.2907L16.6389 37.7093L16.6389 38L16.6389 38.15L16.7889 38.15L17.0796 38.15L30.4517 38.15L30.7424 38.15ZM33.8328 30.6739L33.9389 30.7823L34.0461 30.6751L34.255 30.4662L38.9062 25.815L38.9062 25.815L38.9085 25.8126L39.1084 25.6037L39.2098 25.4977L39.1061 25.3939L38.9062 25.1941L34.255 20.5429L34.0461 20.334L33.94 20.2279L33.834 20.334L33.4252 20.7428L33.3214 20.8465L33.4229 20.9525L33.6227 21.1615L33.6227 21.1615L33.625 21.1638L37.5205 25.0593L22.3121 25.0593L22.0214 25.0593L21.8714 25.0593L21.8714 25.2093L21.8714 25.7907L21.8714 25.9407L22.0214 25.9407L22.3121 25.9407L37.5211 25.9407L33.625 29.8452L33.6249 29.8454L33.4252 30.0451L33.3203 30.15L33.424 30.2561L33.8328 30.6739Z', fill='#2E6D5C', stroke='#2E6D5C', stroke-width='0.3')

  .alert.error
    .alert_text
      p Заполните профиль, чтобы соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу.
    a.close_alert
      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')

  .grid-container
    .grid-row
      .grid-col-md-6.offset-md-3.my_data
        form.form.mb-100
          .form_row
            .grid-col-12
              h4 Личные данные
          .form_row
            .grid-col-md-6
              .form_group
                input.input(type='text', id='my_data_name')
                label.label.label_placeholder(for='my_data_name') Ваше имя
                .tooltip
                  .tooltip_icon
                    svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M9.64919 12.1387C9.64919 11.8025 9.70161 11.5084 9.80645 11.2563C9.91936 10.9958 10.0524 10.7773 10.2056 10.6008C10.3669 10.4244 10.5766 10.2143 10.8347 9.97059C11.1573 9.67647 11.3952 9.42437 11.5484 9.21429C11.7016 8.9958 11.7782 8.73529 11.7782 8.43277C11.7782 8.02101 11.625 7.69328 11.3185 7.44958C11.0121 7.19748 10.5887 7.07143 10.0484 7.07143C9.10484 7.07143 8.38306 7.40336 7.88306 8.06723L7 7.41176C7.33871 6.95798 7.77016 6.60924 8.29435 6.36555C8.82661 6.12185 9.43952 6 10.1331 6C11.0121 6 11.7097 6.20168 12.2258 6.60504C12.7419 7 13 7.54622 13 8.2437C13 8.58823 12.9435 8.89496 12.8306 9.16387C12.7258 9.42437 12.5968 9.64286 12.4435 9.81933C12.2903 9.9958 12.0847 10.2059 11.8266 10.4496C11.496 10.7605 11.25 11.0336 11.0887 11.2689C10.9355 11.5042 10.8589 11.7941 10.8589 12.1387H9.64919ZM10.2661 15C10.0403 15 9.85081 14.9244 9.69758 14.7731C9.55242 14.6134 9.47984 14.4202 9.47984 14.1933C9.47984 13.9664 9.55242 13.7773 9.69758 13.626C9.85081 13.4664 10.0403 13.3866 10.2661 13.3866C10.4919 13.3866 10.6774 13.4664 10.8226 13.626C10.9677 13.7773 11.0403 13.9664 11.0403 14.1933C11.0403 14.4202 10.9637 14.6134 10.8105 14.7731C10.6653 14.9244 10.4839 15 10.2661 15Z', fill='#E4D2B9')
                      circle(cx='10', cy='10', r='9.25', stroke='#E4D2B9', stroke-width='1.5')
                  .tooltip_text
                    | Ваше имя
                    .tooltip_close
                      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')
            .grid-col-md-6
              .form_group
                input.input(type='text', id='my_data_faname')
                label.label.label_placeholder(for='my_data_faname') Ваша фамилия
                .tooltip
                  .tooltip_icon
                    svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M9.64919 12.1387C9.64919 11.8025 9.70161 11.5084 9.80645 11.2563C9.91936 10.9958 10.0524 10.7773 10.2056 10.6008C10.3669 10.4244 10.5766 10.2143 10.8347 9.97059C11.1573 9.67647 11.3952 9.42437 11.5484 9.21429C11.7016 8.9958 11.7782 8.73529 11.7782 8.43277C11.7782 8.02101 11.625 7.69328 11.3185 7.44958C11.0121 7.19748 10.5887 7.07143 10.0484 7.07143C9.10484 7.07143 8.38306 7.40336 7.88306 8.06723L7 7.41176C7.33871 6.95798 7.77016 6.60924 8.29435 6.36555C8.82661 6.12185 9.43952 6 10.1331 6C11.0121 6 11.7097 6.20168 12.2258 6.60504C12.7419 7 13 7.54622 13 8.2437C13 8.58823 12.9435 8.89496 12.8306 9.16387C12.7258 9.42437 12.5968 9.64286 12.4435 9.81933C12.2903 9.9958 12.0847 10.2059 11.8266 10.4496C11.496 10.7605 11.25 11.0336 11.0887 11.2689C10.9355 11.5042 10.8589 11.7941 10.8589 12.1387H9.64919ZM10.2661 15C10.0403 15 9.85081 14.9244 9.69758 14.7731C9.55242 14.6134 9.47984 14.4202 9.47984 14.1933C9.47984 13.9664 9.55242 13.7773 9.69758 13.626C9.85081 13.4664 10.0403 13.3866 10.2661 13.3866C10.4919 13.3866 10.6774 13.4664 10.8226 13.626C10.9677 13.7773 11.0403 13.9664 11.0403 14.1933C11.0403 14.4202 10.9637 14.6134 10.8105 14.7731C10.6653 14.9244 10.4839 15 10.2661 15Z', fill='#E4D2B9')
                      circle(cx='10', cy='10', r='9.25', stroke='#E4D2B9', stroke-width='1.5')
                  .tooltip_text
                    | Ваше фамилия
                    .tooltip_close
                      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')
          .form_row
            .grid-col-md-6
              .form_group
                input.input(type='text', id='my_data_otch')
                label.label.label_placeholder(for='my_data_otch') Ваше отчество
                .tooltip
                  .tooltip_icon
                    svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M9.64919 12.1387C9.64919 11.8025 9.70161 11.5084 9.80645 11.2563C9.91936 10.9958 10.0524 10.7773 10.2056 10.6008C10.3669 10.4244 10.5766 10.2143 10.8347 9.97059C11.1573 9.67647 11.3952 9.42437 11.5484 9.21429C11.7016 8.9958 11.7782 8.73529 11.7782 8.43277C11.7782 8.02101 11.625 7.69328 11.3185 7.44958C11.0121 7.19748 10.5887 7.07143 10.0484 7.07143C9.10484 7.07143 8.38306 7.40336 7.88306 8.06723L7 7.41176C7.33871 6.95798 7.77016 6.60924 8.29435 6.36555C8.82661 6.12185 9.43952 6 10.1331 6C11.0121 6 11.7097 6.20168 12.2258 6.60504C12.7419 7 13 7.54622 13 8.2437C13 8.58823 12.9435 8.89496 12.8306 9.16387C12.7258 9.42437 12.5968 9.64286 12.4435 9.81933C12.2903 9.9958 12.0847 10.2059 11.8266 10.4496C11.496 10.7605 11.25 11.0336 11.0887 11.2689C10.9355 11.5042 10.8589 11.7941 10.8589 12.1387H9.64919ZM10.2661 15C10.0403 15 9.85081 14.9244 9.69758 14.7731C9.55242 14.6134 9.47984 14.4202 9.47984 14.1933C9.47984 13.9664 9.55242 13.7773 9.69758 13.626C9.85081 13.4664 10.0403 13.3866 10.2661 13.3866C10.4919 13.3866 10.6774 13.4664 10.8226 13.626C10.9677 13.7773 11.0403 13.9664 11.0403 14.1933C11.0403 14.4202 10.9637 14.6134 10.8105 14.7731C10.6653 14.9244 10.4839 15 10.2661 15Z', fill='#E4D2B9')
                      circle(cx='10', cy='10', r='9.25', stroke='#E4D2B9', stroke-width='1.5')
                  .tooltip_text
                    | Ваше отчество
                    .tooltip_close
                      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')
            .grid-col-md-6
              .form_group
                input.input(type='tel', id='my_data_tel', placeholder="Телефон")
                //label.label.label_placeholder(for='my_data_tel') Телефон
                .tooltip
                  .tooltip_icon
                    svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M9.64919 12.1387C9.64919 11.8025 9.70161 11.5084 9.80645 11.2563C9.91936 10.9958 10.0524 10.7773 10.2056 10.6008C10.3669 10.4244 10.5766 10.2143 10.8347 9.97059C11.1573 9.67647 11.3952 9.42437 11.5484 9.21429C11.7016 8.9958 11.7782 8.73529 11.7782 8.43277C11.7782 8.02101 11.625 7.69328 11.3185 7.44958C11.0121 7.19748 10.5887 7.07143 10.0484 7.07143C9.10484 7.07143 8.38306 7.40336 7.88306 8.06723L7 7.41176C7.33871 6.95798 7.77016 6.60924 8.29435 6.36555C8.82661 6.12185 9.43952 6 10.1331 6C11.0121 6 11.7097 6.20168 12.2258 6.60504C12.7419 7 13 7.54622 13 8.2437C13 8.58823 12.9435 8.89496 12.8306 9.16387C12.7258 9.42437 12.5968 9.64286 12.4435 9.81933C12.2903 9.9958 12.0847 10.2059 11.8266 10.4496C11.496 10.7605 11.25 11.0336 11.0887 11.2689C10.9355 11.5042 10.8589 11.7941 10.8589 12.1387H9.64919ZM10.2661 15C10.0403 15 9.85081 14.9244 9.69758 14.7731C9.55242 14.6134 9.47984 14.4202 9.47984 14.1933C9.47984 13.9664 9.55242 13.7773 9.69758 13.626C9.85081 13.4664 10.0403 13.3866 10.2661 13.3866C10.4919 13.3866 10.6774 13.4664 10.8226 13.626C10.9677 13.7773 11.0403 13.9664 11.0403 14.1933C11.0403 14.4202 10.9637 14.6134 10.8105 14.7731C10.6653 14.9244 10.4839 15 10.2661 15Z', fill='#E4D2B9')
                      circle(cx='10', cy='10', r='9.25', stroke='#E4D2B9', stroke-width='1.5')
                  .tooltip_text
                    | Телефон
                    .tooltip_close
                      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')
          .form_row
            .grid-col-md-6
              .form_group
                input.input(type='email', id='my_data_mail')
                label.label.label_placeholder(for='my_data_mail') Почта
                .tooltip
                  .tooltip_icon
                    svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M9.64919 12.1387C9.64919 11.8025 9.70161 11.5084 9.80645 11.2563C9.91936 10.9958 10.0524 10.7773 10.2056 10.6008C10.3669 10.4244 10.5766 10.2143 10.8347 9.97059C11.1573 9.67647 11.3952 9.42437 11.5484 9.21429C11.7016 8.9958 11.7782 8.73529 11.7782 8.43277C11.7782 8.02101 11.625 7.69328 11.3185 7.44958C11.0121 7.19748 10.5887 7.07143 10.0484 7.07143C9.10484 7.07143 8.38306 7.40336 7.88306 8.06723L7 7.41176C7.33871 6.95798 7.77016 6.60924 8.29435 6.36555C8.82661 6.12185 9.43952 6 10.1331 6C11.0121 6 11.7097 6.20168 12.2258 6.60504C12.7419 7 13 7.54622 13 8.2437C13 8.58823 12.9435 8.89496 12.8306 9.16387C12.7258 9.42437 12.5968 9.64286 12.4435 9.81933C12.2903 9.9958 12.0847 10.2059 11.8266 10.4496C11.496 10.7605 11.25 11.0336 11.0887 11.2689C10.9355 11.5042 10.8589 11.7941 10.8589 12.1387H9.64919ZM10.2661 15C10.0403 15 9.85081 14.9244 9.69758 14.7731C9.55242 14.6134 9.47984 14.4202 9.47984 14.1933C9.47984 13.9664 9.55242 13.7773 9.69758 13.626C9.85081 13.4664 10.0403 13.3866 10.2661 13.3866C10.4919 13.3866 10.6774 13.4664 10.8226 13.626C10.9677 13.7773 11.0403 13.9664 11.0403 14.1933C11.0403 14.4202 10.9637 14.6134 10.8105 14.7731C10.6653 14.9244 10.4839 15 10.2661 15Z', fill='#E4D2B9')
                      circle(cx='10', cy='10', r='9.25', stroke='#E4D2B9', stroke-width='1.5')
                  .tooltip_text
                    | Почта
                    .tooltip_close
                      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')
            .grid-col-md-6
              .form_row
                .grid-col-12.form_field_label
                  .form_field_label_text Дата рождения:
                  .tooltip
                    .tooltip_icon
                      svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.64919 12.1387C9.64919 11.8025 9.70161 11.5084 9.80645 11.2563C9.91936 10.9958 10.0524 10.7773 10.2056 10.6008C10.3669 10.4244 10.5766 10.2143 10.8347 9.97059C11.1573 9.67647 11.3952 9.42437 11.5484 9.21429C11.7016 8.9958 11.7782 8.73529 11.7782 8.43277C11.7782 8.02101 11.625 7.69328 11.3185 7.44958C11.0121 7.19748 10.5887 7.07143 10.0484 7.07143C9.10484 7.07143 8.38306 7.40336 7.88306 8.06723L7 7.41176C7.33871 6.95798 7.77016 6.60924 8.29435 6.36555C8.82661 6.12185 9.43952 6 10.1331 6C11.0121 6 11.7097 6.20168 12.2258 6.60504C12.7419 7 13 7.54622 13 8.2437C13 8.58823 12.9435 8.89496 12.8306 9.16387C12.7258 9.42437 12.5968 9.64286 12.4435 9.81933C12.2903 9.9958 12.0847 10.2059 11.8266 10.4496C11.496 10.7605 11.25 11.0336 11.0887 11.2689C10.9355 11.5042 10.8589 11.7941 10.8589 12.1387H9.64919ZM10.2661 15C10.0403 15 9.85081 14.9244 9.69758 14.7731C9.55242 14.6134 9.47984 14.4202 9.47984 14.1933C9.47984 13.9664 9.55242 13.7773 9.69758 13.626C9.85081 13.4664 10.0403 13.3866 10.2661 13.3866C10.4919 13.3866 10.6774 13.4664 10.8226 13.626C10.9677 13.7773 11.0403 13.9664 11.0403 14.1933C11.0403 14.4202 10.9637 14.6134 10.8105 14.7731C10.6653 14.9244 10.4839 15 10.2661 15Z', fill='#E4D2B9')
                        circle(cx='10', cy='10', r='9.25', stroke='#E4D2B9', stroke-width='1.5')
                    .tooltip_text
                      | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
                      .tooltip_close
                        svg(width='20', height='20', viewBox='0 0 20 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M11.3725 10L20 18.6274L18.6274 20L10 11.3725L1.37255 20L0 18.6274L8.62745 10L0 1.37255L1.37255 0L10 8.62745L18.6274 0L20 1.37255L11.3725 10Z', fill='#2E6D5C')
                .grid-col
                  .form_group
                    input.input(type='text', id='birthday_day')
                    label.label.label_placeholder(for='birthday_day') ДД
                .grid-col
                  .form_group
                    input.input(type='text', id='birthday_month')
                    label.label.label_placeholder(for='birthday_month') ММ
                .grid-col
                  .form_group
                    input.input(type='text', id='birthday_year')
                    label.label.label_placeholder(for='birthday_year') ГГ
          .form_row
            .grid-col-12
              h4 Адрес
            .grid-col-12
              .form_group
                input.input(type='text', id='my_data_address')
                label.label.label_placeholder(for='my_data_address') г. Краснодар, ул. Название улицы, 22, квартира 13
          .form_row
            .grid-col-12
              input.btn.btn_fill(type='submit', value='Сохранить')

.myorders.mb-100
  .grid-container
    .grid-row
      .grid-col-12.myorders_items

    .grid-row
      .grid-col-12.text-center
        .show_more
          a.btn.btn_bordered Показать еще
        include ../../common/pagination
