.pagination
  .pagination_left_arrow
    svg(width='81', height='28', viewBox='0 0 81 28', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M80.4092 14.0141L1.40918 14.0141M16.0808 26.8911L1.00021 13.7543M16.0808 1.00013L1.00021 14.137', stroke='#305D51', stroke-width='1.5')
  ul.pagination_list
    li.pagination_item.active
      a.pagination_item_link 01
    li.pagination_item
      a.pagination_item_link 02
    li.pagination_item
      a.pagination_item_link 03
    li.pagination_item
      a.pagination_item_link 04
    li.pagination_item
      a.pagination_item_link 05
  .pagination_right_arrow
    svg(width='80', height='28', viewBox='0 0 80 28', fill='none', xmlns='http://www.w3.org/2000/svg')
      path(d='M0 13.877H79M64.3284 1L79.409 14.1369M64.3284 26.891L79.409 13.7541', stroke='#305D51', stroke-width='1.5')
