.tab_block.mb-145
  .grid-container
    .grid-row
      .grid-col-12.tab_nav
        ul.tab_nav_list
          li.tab_nav_item.active(data-id='tab-1')
            a.tab_nav_item_link Все
          li.tab_nav_item(data-id='tab-2')
            a.tab_nav_item_link Новости
          li.tab_nav_item(data-id='tab-3')
            a.tab_nav_item_link Обзоры
          li.tab_nav_item(data-id='tab-4')
            a.tab_nav_item_link Советы
      .grid-col-12.tab_content
        #tab-1.tab_pane.active
          .grid-row.block_blog_list
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_1.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_2.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_3.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Умный массажер для шеи повторяет технологию массажа шиацу
                    p
                      | Пастельное окрашивание по-прежнему остаётся одной из самых популярных процедур в московских салонах. Самые решительн...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_4.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Умный массажер для шеи повторяет технологию массажа шиацу
                    p
                      | Пастельное окрашивание по-прежнему остаётся одной из самых популярных процедур в московских салонах. Самые решительн...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_5.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_6.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-12.text-center
              .show_more
                a.btn.btn_bordered Показать еще
              include ../../common/pagination
        #tab-2.tab_pane
          | Новости
        #tab-3.tab_pane
          | Обзоры
        #tab-4.tab_pane
          | Советы
