.teaser.mb-145
  .grid-container
    .grid-row.teaser_items_list
      .grid-col-lg-4.grid-col-md-6.grid-col-12.teaser_item
        .teaser_item_inner
          .teaser_item_img
            img(src='img/teaser_icon_1.svg', alt='')
          .teaser_item_name Нам доверяют
          .teaser_item_descr
            | 97% наших покупателей
            br
            |  довольны покупками и сервисом
            br
            |  компании
      .grid-col-lg-4.grid-col-md-6.grid-col-12.teaser_item
        .teaser_item_inner
          .teaser_item_img
            img(src='img/teaser_icon_2.svg', alt='')
          .teaser_item_name Гарантия качества
          .teaser_item_descr
            | Только оригинальные товары.
            br
            |  Продукция зарегистрирована
            br
            |  и сертифицирована
      .grid-col-lg-4.grid-col-md-6.grid-col-12.teaser_item
        .teaser_item_inner
          .teaser_item_img
            img(src='img/teaser_icon_3.svg', alt='')
          .teaser_item_name Проверенное качество
          .teaser_item_descr
            | Мы работаем для вас с 1993 года
            br
            |  более 20 лет мы помогаем быть
            br
            |  красивыми
