.breadcrumbs
  .grid-container
    .grid-row
      .grid-col-12
        ul.breadcrumbs_list
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Главная
          li.breadcrumbs_item.breadcrumbs_separator
            span /
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Каталог
          li.breadcrumbs_item.breadcrumbs_separator
            span /
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Массажеры
          li.breadcrumbs_item.breadcrumbs_separator
            span /
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
