.product_slider_simple.mb-100
  .grid-container
    .grid-row
      .grid-col-12.tab_title
        h2 Cмотрите также
      .grid-col-12
        .product_container.simple_slider
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                img(src='img/product_card_img_2.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_3.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 3 500 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_4.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 350 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
        .slider_bar
          .slider_arrow_prev
          .slider_counter
            .slider_counter_circle.d-none
              svg(width='55', height='55', viewBox='0 0 55 55', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M53.3987 34.1948C51.8997 39.9937 48.4978 45.1218 43.7381 48.7576C38.9783 52.3935 33.1361 54.3267 27.1471 54.2477C21.1581 54.1686 15.3688 52.0819 10.7067 48.3218C6.04451 44.5616 2.77918 39.3456 1.43368 33.5091C0.0881919 27.6727 0.740394 21.5535 3.28583 16.1318C5.83126 10.71 10.1226 6.29943 15.4726 3.6064C20.8226 0.913369 26.9216 0.0937518 32.7927 1.27883C38.6638 2.4639 43.9674 5.58509 47.8538 10.1425', stroke='#BBA688', stroke-width='1.5')
            .slider_counter_inner
              span.current 01
              .separator_total
                span.separator /
                span.total
          .slider_arrow_next
