.tab_block.mb-145.product_tabs
  .grid-container
    .grid-row
      .grid-col-12.tab_title
        h2 О товаре
      .grid-col-12.tab_nav
        ul.tab_nav_list
          li.tab_nav_item.active(data-id='product_tab_descr')
            a.tab_nav_item_link Описание
          li.tab_nav_item(data-id='product_tab_testimonials')
            a.tab_nav_item_link Отзывы
          li.tab_nav_item(data-id='product_tab_reviews')
            a.tab_nav_item_link Обзоры
          li.tab_nav_item(data-id='product_tab_faq')
            a.tab_nav_item_link Вопросы и ответы
      .grid-col-12.tab_content
        #product_tab_descr.tab_pane.active.product_tab_descr
          .grid-row
            .grid-col-xl-6.grid-col-12.product_text
              .text_content
                h3 описание товара
                p
                  | Бюджетный аппарат для ультразвуковой чистки лица в домашних условиях GEZATONE BIO SONIC 730 предназначен для глубокого очищения кожи, тонизации, улучшения внешнего вида кожных покровов и усиления эффективности используемых косметических препаратов.
                p
                  | Принцип действия прибора для уз чистки лица основан на выработке ультразвуковых волн, который вызывает колебания лопатки, что способствует деликатному тщательному очищению поверхности кожи. Процедура эффективна и безболезненна. Она позволяет добиться отличных результатов даже в домашних условиях!
                p  
                h3 Показания к применению
                ul
                  li
                    | Аппарат для УЗ пилинга, фонофореза, микромассажа Жезатон Био Соник 730 деликатно очищает поверхность кожи, делая ее невероятно гладкой и бархатистой на ощупь.
                  li
                    | После использования устройства косметика проникает в более глубокие слои, что обеспечивает высокую эффективность.
                p  
              .product_chars
                h3 Характеристики
                ul.product_chars_list
                  li.product_char
                    span.product_char_type Тип:
                    span.product_char_val Массажер для лица
                  li.product_char
                    span.product_char_type Зоны массажа:
                    span.product_char_val Лицо, шея
                  li.product_char
                    span.product_char_type Комплектация:
                    span.product_char_val Упаковка
                  li.product_char
                    span.product_char_type Цвет:
                    span.product_char_val Зеленый
                  li.product_char
                    span.product_char_type Страна-изготовитель:
                    span.product_char_val Китай
                  li.product_char
                    span.product_char_type Вес в упаковке, г:
                    span.product_char_val 500 г
            .grid-col-xl-6.grid-col-12.product_about_video
              .video
                .video_preview(style="background-image: url('img/video_preview.jpg')")
                video#myVideo(controls='')
                  source(src='https://futuratm.ru/upload/iblock/337/3376e69fe0245088440692e7699b7557.mp4')
                button.button_video
                  svg(width='131', height='131', viewBox='0 0 131 131', fill='none', xmlns='http://www.w3.org/2000/svg')
                    ellipse(cx='65.447', cy='65.5', rx='65.447', ry='65.5', fill='#2E6D5C')
                    path(d='M45.4634 94.1574L45.4634 35.8426L98.8754 65.0006L45.4634 94.1574Z', stroke='white')
        #product_tab_testimonials.tab_pane.product_tab_testimonials
          .grid-row
            .grid-col-lg-6.grid-col-12.rating_total
              .rating_total_inner
                .rating
                  .rating_stars
                    .rating_star
                      svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                    .rating_star
                      svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                    .rating_star
                      svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                    .rating_star
                      svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                    .rating_star
                      svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                .text.sand
                  | Рейтинг 4 на основе 27 оценок
            .grid-col-lg-6.offset-lg-0.grid-col-md-10.offset-md-1.grid-col-12.feedback_button
              .text.gr
                | Возможно, именно ваш отзыв поможет сделать кому-то выбор!
              a.btn.btn_fill.add_testimonial(data-modal='add_testimonial') Добавить отзыв
          .grid-row.feedback
            .grid-col-12.feedback_item
              .grid-row
                .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                  .rating
                    .rating_stars
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                  .feedback_name
                    | Константинопольский Александр
                  .feedback_date
                    | 28.02.2020

                .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                  p
                    | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
                  p
                    | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
                  p
                    | В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

            .grid-col-12.feedback_item
              .grid-row
                .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                  .rating
                    .rating_stars
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                  .feedback_name
                    | Константинопольский Александр
                  .feedback_date
                    | 28.02.2020

                .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                  p
                    | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
                  p
                    | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
                  p
                    | В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

            .grid-col-12.feedback_item
              .grid-row
                .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                  .rating
                    .rating_stars
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                      .rating_star
                        svg(width='21', height='19', viewBox='0 0 21 19', fill='none', xmlns='http://www.w3.org/2000/svg')
                          path(d='M9.97878 1.77066L12.3032 6.69293L12.479 7.06528L12.8876 7.11678L18.3312 7.80295L14.3552 11.5505L14.0567 11.8318L14.1325 12.2349L15.1363 17.5735L10.3347 14.9211L9.97031 14.7199L9.60675 14.9226L4.86834 17.5652L5.87062 12.2349L5.94641 11.8318L5.64795 11.5505L1.67191 7.80295L7.11553 7.11678L7.52778 7.06482L7.70234 6.68776L9.97878 1.77066Z', stroke='#D6B68A', stroke-width='1.5')
                  .feedback_name
                    | Константинопольский Александр
                  .feedback_date
                    | 28.02.2020

                .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                  p
                    | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
                  p
                    | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
                  p
                    | В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

            .grid-col-12.text-center
              a.btn.btn_bordered Показать еще

        #product_tab_reviews.tab_pane.product_tab_reviews
          .grid-row.block_blog_list
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_1.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_2.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_3.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Умный массажер для шеи повторяет технологию массажа шиацу
                    p
                      | Пастельное окрашивание по-прежнему остаётся одной из самых популярных процедур в московских салонах. Самые решительн...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_4.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Умный массажер для шеи повторяет технологию массажа шиацу
                    p
                      | Пастельное окрашивание по-прежнему остаётся одной из самых популярных процедур в московских салонах. Самые решительн...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_5.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
            .grid-col-xl-3.grid-col-lg-4.grid-col-sm-6.grid-col-12.blog_item
              .blog_item_inner
                .blog_item_img
                  img(src='img/product_blog_img_6.jpg', alt='')
                .blog_item_content
                  .blog_item_date
                    | 28.02.2020
                    a.blog_item_cat(href='#') Обзор
                  .blog_item_descr
                    h4 Что нужно знать о пастельном окрашивании
                    p
                      | Умный массажер для шеи М-202 анатомической формы — это эффективное, экономичное и приятное оздоровление с помощью современных технологий...
                  .blog_item_more
                    a.more.gr(href='')
                      svg(width='100', height='28', viewBox='0 0 100 28', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0 13.877H99M84.3284 1L99.409 14.1369M84.3284 26.891L99.409 13.7541', stroke='#2E6D5C', stroke-width='1.5')
        #product_tab_faq.tab_pane.product_tab_faq
          .grid-row
            .grid-col-lg-8.offset-lg-2.grid-col-md-10.offset-md-1.grid-col-12.feedback_button
              .text.gr
                | У вас есть вопросы об этом товаре?
                br
                | Задайте их нам и мы ответим вам в ближайшее время!
              a.btn.btn_fill.ask_a_question(data-modal='ask_a_question') Задать вопрос
          .grid-row.feedback
            .grid-col-12.feedback_item
              .grid-row
                .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                  .feedback_img
                    img(src='img/feedback_customer_img.svg', alt='')
                  .feedback_name
                    | Константинопольский Александр
                  .feedback_date
                    | 28.02.2020

                .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                  p
                    | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
                  p
                    | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.

                .grid-col-md-11.offset-md-1.grid-col-12.feedback_item.answer
                  .grid-row
                    .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                      .feedback_img
                        img(src='img/gloremi_team_img.png', alt='')
                      .feedback_name
                        | Команда Gloremi
                      .feedback_date
                        | 28.02.2020
                    .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                      p
                        | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
            .grid-col-12.feedback_item
              .grid-row
                .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                  .feedback_img
                    img(src='img/feedback_customer_img.svg', alt='')
                  .feedback_name
                    | Константинопольский Александр
                  .feedback_date
                    | 28.02.2020

                .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                  p
                    | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
                  p
                    | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
                  p
                    | В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

            .grid-col-12.feedback_item
              .grid-row
                .grid-col-lg-3.grid-col-md-4.grid-col-12.feedbacker
                  .feedback_img
                    img(src='img/feedback_customer_img.svg', alt='')
                  .feedback_name
                    | Константинопольский Александр
                  .feedback_date
                    | 28.02.2020

                .grid-col-lg-9.grid-col-md-8.grid-col-12.feedback_text
                  p
                    | Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.
                  p
                    | Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений.
                  p
                    | В формировании направлений прогрессивного развития. Не следует, однако забывать, что консультация с широким активом в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же укрепление и развитие структуры играет важную роль в формировании направлений прогрессивного развития.

            .grid-col-12.text-center
              a.btn.btn_bordered Показать еще
