.title
  .grid-container
    .grid-row
      .grid-col-xl-8.offset-xl-2.grid-col-md-10.offset-md-1.grid-col-12.title_box
        h1 Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
        span.product_article Код товара: 1799190
