.breadcrumbs
  .grid-container
    .grid-row
      .grid-col-12
        ul.breadcrumbs_list
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Главная
          li.breadcrumbs_item.breadcrumbs_separator
            span /
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Блог
          li.breadcrumbs_item.breadcrumbs_separator
            span /
          li.breadcrumbs_item
            a.breadcrumbs_link(href='/') Умный массажер для шеи повторяет технологию массажа шиацу
