.related_products.mb-100
  .grid-container
    .grid-row
      .grid-col-12.block_title
        h2 Связанные товары
      .grid-col-12
        .product_container
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                a
                  img(src='img/product_card_img_2.png', alt='')
              .product_name
                a Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                a
                  img(src='img/product_card_img_3.png', alt='')
              .product_name
                a Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 3 500 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                a
                  img(src='img/product_card_img_1.png', alt='')
              .product_name
                a Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                a
                  img(src='img/product_card_img_1.png', alt='')
              .product_name
                a Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                a
                  img(src='img/product_card_img_2.png', alt='')
              .product_name
                a Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                a
                  img(src='img/product_card_img_3.png', alt='')
              .product_name
                a Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 3 500 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                a
                  img(src='img/product_card_img_1.png', alt='')
              .product_name
                a Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                a
                  img(src='img/product_card_img_2.png', alt='')
              .product_name
                a Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                a
                  img(src='img/icon_basket.svg', alt='')
