.block_banners{
  .asd{

  }
  position: relative;
  padding-bottom: 150px;
  .block_banners_bg{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/foliage_big.png") no-repeat top center;
    background-size: cover;
    position: absolute;
    /*top: calc(50% - 75px);*/
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
  }
  .grid-container{
    position: relative;
    z-index: 2;
  }
  .banner_item{
    /*min-height: 450px;*/
    position: relative;
    z-index: 10;
    /*svg circle{
      fill: none;
      stroke: var(--color-sand);
      stroke-width: 1.5;
    }*/
    .banner_inner{
      padding: 10px 110px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .product_banners{
        top: 40px;
        left: -90px;
        transform: rotate(-90deg);
        transform-origin: top right;
      }
      .banner_additional_img{
        flex: 0 0 190px;
      }
      .banner_additional_img_item{

      }
      .banner_sale_timer{
        flex: 0 0 190px;
      }
      .timer{
        &_days{

        }
        &_hours{

        }
        &_minutes{

        }
        &_seconds{

        }
        &_item{
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          font-family: Prata, serif;
          &:last-child{
            margin-bottom: 0;
          }
        }
        &_circle{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          svg{
            circle{
              fill: none;
              stroke: var(--color-sand);
              stroke-width: 1;
              transform: rotate(15deg);
              transform-origin: center!important;
              stroke-dasharray: 226;
              stroke-dashoffset: 40;
            }
          }
        }
        &_inner{
          /*margin-left: -55px;
          display: flex;*/
        }
        &_number{
          position: absolute;
          font-size: 1.875rem;
          line-height: 2.5rem;
          text-transform: uppercase;
          color: var(--color-light-gr);
          padding-top: 7px;
        }
        &_text{
          font-size: 0.875rem;
          line-height: 1.25rem;
          text-transform: uppercase;
          color: var(--color-sand);
          margin-bottom: 15px;
          margin-left: -15px;
        }
      }
      .banner_main_img{
        img{
          max-width: 100%;
          height: auto;
        }
      }
      .banner_sale_descr{
        flex: 0 0 100%;
        margin-top: -30px;
        margin-bottom: 20px;
      }
      .banner_descr{
        .more svg{
          margin-left: 0;
        }
      }
    }
    &.banner_full{
      .banner_descr{
        flex: 0 0 30%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .banner_main_img{
        flex: 0 0 49%;
      }
    }
    &.banner_half{
      position: relative;
      &:nth-last-child(1){
        .banner_inner{
          margin-right: 0;
        }
      }
      &:nth-last-child(2){
        .banner_inner{
          margin-left: 0;
        }
      }
      .banner_inner{
        height: 100%;
        padding: 0;
        margin: 0 -7.5px;
      }
      .banner_descr{
        margin-top: 110px;
        flex: 0 0 40%;
        max-width: 200px;
        position: absolute !important;
        top: 0;
        left: 110px;
        z-index: 2;
      }
      .banner_main_img{
        position: relative;
        top: 0;
        left: 0;
        z-index: 0 !important;
        /*max-height: 450px;*/
      }
    }
  }
}

.discounts{
  .banner_item{
    .banner_inner{
      .product_banners{
        top: 40px;
        left: -60px;
        .product_banner{
          svg{
            display: none;
          }
        }
      }
    }
    &.banner_full{
      .banner_descr{
        margin-top: 50px;
      }
    }
    &.banner_half{
      .banner_descr{

      }
    }
  }
}

@media(max-width: 1199px){
  .block_banners{
    .block_banners_bg{
      /*height: 500px;*/
    }
    .banner_item{
      .banner_inner{
        padding: 30px;
        padding-left: 70px;
        .product_banners {
          left: -100px;
        }
        .banner_sale_descr{
          margin-top: -10px;
          margin-bottom: 0;
        }
      }
      &.banner_full{
        .banner_descr{
          flex: 0 0 35%;
        }
        .banner_main_img {
          flex: 0 0 40%;
        }
      }
      &.banner_half{
        .banner_descr{
          margin-top: 30px;
          max-width: 180px;
        }
      }
    }
  }
}

@media(max-width: 991px){
  .block_banners{
    padding-bottom: 50px;
    .block_banners_bg {
      /*height: 350px;*/
    }
    .banner_item{
      .banner_inner{
        align-items: center;
        .banner_sale_timer{
          flex: 0 0 150px;
        }
        .banner_sale_descr{
          margin-top: 10px;
        }
      }
      .banner_descr{
        .more{
          margin-top: 10px;
        }
      }
      &.banner_full{
        .banner_inner{
          padding: 10px;
          padding-left: 80px;
        }
        .banner_descr{
          flex: 0 0 30%;
        }
      }
      &.banner_half{
        .banner_descr{
          left: 87.5px;
        }
      }
      .banner_inner{

      }
      .banner_descr{
        p{
          display: none;
        }
      }
      .banner_additional_img{
        display: none;
      }
    }
  }
}
@media(max-width: 767px){
  .block_banners{
    .grid-row{
      margin: 0 -18px;
    }
    [class*=grid-col], .grid-container, .grid-container-fluid{
      padding: 0 18px;
    }
    .banner_item{
      .banner_inner{
        padding: 10px 70px;
        padding-right: 10px;
        .product_banners{
          top: 20px;
          left: -90px;
        }
        .banner_sale_timer{
          display: flex;
          flex-basis: 100%;
          padding-right: 20px;
          justify-content: space-between;
          align-items: center;

          order: 4;
        }
        .timer_item{
          margin-bottom: 0;
        }
        .banner_sale_descr{
          order: 5;
          font-size: .75rem;
        }
      }
      &.banner_full{
        .banner_descr {
          flex: 0 0 25%;
        }
        .banner_main_img{
          flex: 0 0 65%;
        }
      }
      &.banner_half{
        .banner_inner{
          margin: 0;
          .banner_main_img{
            /*max-height: 350px;*/
          }
          .banner_descr{
            left: 88px;
          }
        }
      }
      .banner_descr{
        .more{
          margin-top: 0;
        }
      }
    }
  }
}

@media(max-width: 575px){
  .block_banners{
    .banner_item{
      .banner_inner{
        padding: 40px 0 !important;
        padding-left: 40px !important;
        //flex-wrap: nowrap;

        .product_banners{
          top: 10px !important;
          left: -65px !important;
        }
        .banner_descr {
          flex: 0 0 20%;
          margin: 0;
          .more svg{
            max-width: 80px;
            height: auto;
          }
        }
        .timer_circle{
          width: 37px;
          height: 37px;
        }
        .timer_number{
          font-size: .875rem;
        }
        .timer_text{
          font-size: .875rem;
          margin-bottom: 25px;
          text-transform: none;
        }
      }
      &.banner_half{
        .banner_inner{
          padding: 0 !important;
          padding-left: 0 !important;
          position: relative;
          .product_banners{
            left: -107px !important;
          }
          .banner_descr{
            top: 50px;
            left: 50px;
            width: 100%;
            flex: 0 0 100%;
            max-width: 120px;
          }
        }
      }
    }
  }
}
