
.form{
  h4{
    margin-bottom: 35px;
  }
  .politics{
    /*margin-top: 40px;
    margin-bottom: 30px;*/

    font-weight: 500;
    font-size: 0.688rem;
    line-height: 1rem;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      margin-left: 5px;
      color: var(--color-gold);
    }
  }
}
.form_row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
  &:last-child{
    .form_group:last-child{
      margin-bottom: 0;
    }
  }
}
.form_group{
  position: relative;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.625rem;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  .tooltip{
    position: absolute;
    right: 0;
  }
}

.input,
.textarea{
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  padding: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  border: 0 !important;
  border-bottom: 1px solid var(--color-dark-sand) !important;
  outline: none !important;
  font-family: 'Montserrat', sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.5rem;
  background: none !important;

  border-radius: 0 !important;
  box-shadow: none !important;
  &::placeholder{
    color: var(--color-text);
    font-weight: normal;
  }
}
.input{
  height: 2.5rem;
  &.checkbox,
  &.radio{
    display: none;
  }
  &.checkbox ~ label,
  &.radio ~ label{
    display: block;
    position: relative;
    padding-left: 30px;
  }
  &.checkbox ~ label:before,
  &.checkbox ~ label:after,

  &.radio ~ label:before,
  &.radio ~ label:after{
    content: "";
    position: absolute;
    /*top: 5px;*/
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 0;
    height: 18px;
    width: 18px;
    border: 1px solid var(--color-text);
    background: #fff;
  }
  &.checkbox:checked ~ label:after{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.46154 5.5L1.15385 3.25L0 4.375L2.30769 6.625L3.46154 7.75L4.61538 6.625L10 1.375L8.84615 0.25L3.46154 5.5Z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-gr);
    border-color: var(--color-gr);
  }
  &.radio:checked ~ label:after{

  }
}
.label{
  &.label_placeholder{
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 1;
    width: 100%;
    pointer-events: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: normal;
  }
}
.input.value_exists~.label_placeholder,
.textarea.value_exists~.label_placeholder,
.input:focus~.label_placeholder,
.textarea:focus~.label_placeholder{
  font-size: .75rem !important;
  line-height: 1rem !important;
  top: 0;
}
.value_exists{

}



.search_form_input{
  font-weight: 500;
  color: var(--color-gr);
}

.header_search{
  max-width: 350px;
  width: 100%;
  position: relative;
  .search_form{
    margin-bottom: 0;
  }
}
.search_form{
  display: flex;
  justify-content: flex-end;
  .form_group{
    /*display: none;*/
    width: 100px;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-bottom: 0;
    &.active{
      /*display: block;*/
      width: 100%;
      opacity: 1;
    }
    &.active+.icon_loupe svg path{
      stroke: var(--color-sand);
      fill: var(--color-sand);
    }
    .input{
      border-bottom: 1px solid var(--color-sand);
    }
    .label,
    .input::placeholder{
      font-weight: 500;
      font-size: .6875rem;
      line-height: 1.5rem;
      color: var(--color-sand);
    }
    .label{
      width: 100%;
    }
    .input:focus~.label_placeholder{
      font-size: .5rem !important;
      line-height: 1rem !important;
    }
  }
  .icon_loupe{
    margin-left: 10px;
  }
  .search_form_result {
    display: none;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 100%;
    width: 520px;
    padding: 25px 30px 20px 30px;
    background: #fff;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    .search_form_result_list{
      .search_form_result_item{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #F4F4F4;
        color: #353939;
        text-decoration: none;
        &:last-child{
          margin-bottom: 0;
        }
        .product_img{
          margin: 0;
          margin-right: 20px;
          min-width: 80px;
          max-width: 80px;
          min-height: initial;
        }
        .product_name{
          max-width: 250px;
          font-size: .625rem;
          line-height: 1.125rem;

          margin-bottom: 0;
        }
        .product_price{
          display: flex;
          flex-direction: column;
          .product_price_item{
            font-size: 1rem;
            line-height: 1.375rem;
          }
        }
      }
    }
    .more{
      margin-top: 25px;
      justify-content: flex-end;
    }
  }
}

.form_field_label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: -32px;
  .form_field_label_text{
    font-weight: 500;
    font-size: 0.688rem;
    line-height: 1.5rem;
    color: var(--color-sand);
  }
}

.tooltip{
  position: relative;
  svg{
    cursor: pointer;
  }
  .tooltip_icon{
    &:hover svg path,
    &:hover svg circle{
      stroke: var(--color-gr);
    }
  }
  .tooltip_text{
    position: absolute;
    z-index: 10;
    padding: 30px 25px 30px 40px;
    width: 400px;
    bottom: 40px;
    left: -180px;
    right: 0;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: none;
  }
  .tooltip_close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.modal_custom{
  .fancybox-bg{
    background: transparent;
  }
  .fancybox-slide{
    padding: 50px;
  }
}
.modals{
  display: none;
}
.modal{
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: rgba(46, 109, 92, 0.95);
  .grid-container,
  .grid-row{
    height: 100%;
  }
  &_col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.submitted{
      .modal_inner{
        display: none;
      }
      .modal_message{
        display: block;
      }
    }
  }
  &_inner{
    .form{
      max-width: 480px;
      margin: 0 auto;
    }
  }
  &_title{
    margin-bottom: 35px;
    h2, h3, .h2, .h3{
      //font-size: 2.4rem;
      color: #fff;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &_subtitle{
    font-family: 'Prata', serif;
    font-size: .875rem;
    line-height: 1.188rem;
    /*color: var(--color-gold);*/
    text-align: center;
    text-transform: uppercase;
    span{
      margin-right: 5px;
    }
    a{
      margin-left: 20px;
      text-decoration: none;
    }
    & + .rating{
      margin-top: 10px;
    }
  }
  &_message{
    display: none;
    .modal_title,
    p{
      margin-bottom: 0 !important;
    }
  }
  .sms_repeat span{
    margin-right: 5px;
  }
  .input,
  .textarea{
    background: transparent;
    border-bottom-color: #fff;
    color: #fff;
    &::placeholder{
      font-size: 0.875rem;
      line-height: inherit;
      font-weight: normal;
      color: #fff;
      /*text-align: center;*/
    }
    &[type='tel']{
      font-size: 1.125rem !important;
      line-height: 26px !important;
      padding-top: 10px;
    }
  }
  .label_placeholder{
    /*text-align: center;*/
  }
  .checkbox ~ label:before,
  .checkbox ~ label:after{
    border-color: #fff;
  }
  .checkbox:checked ~ label:after{
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.46154 5.5L1.15385 3.25L0 4.375L2.30769 6.625L3.46154 7.75L4.61538 6.625L10 1.375L8.84615 0.25L3.46154 5.5Z' fill='%232E6D5C'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-gold);
    border-color: var(--color-gold);
  }
}
