header{
  margin-bottom: 20px;
}
.header{

  .header_lvl_1{

    .header_tel{
      display: flex;
      align-items: center;
    }
    .header_logo{
      text-align: center;
    }
    .header_icons{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    }
  }

  .header_lvl_1,
  .header_lvl_2{
    > .grid-container:after{
      content: "";
      width: 100%;
      display: block;
      height: 1px;
      background: #F4F4F4;
      /*border: 1px solid #F4F4F4;*/
    }
  }

  .header_lvl_1 > .grid-container:after{
    margin-bottom: 15px;
  }
  .header_lvl_2 > .grid-container:after{
    margin-top: 15px;
  }

  .header_lvl_2{
    position: relative;
  }

  .menu{
    position: initial;
  }
  .cat_menu{
    display: none;
    /*visibility: hidden;*/
    background: #fff;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 65px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    &.active{
      display: block;
    }
    &.is-mobile{
      .grid-container{
        max-width: 100%;
      }
    }
    a{
      text-decoration: none;
    }
    .cat_menu_item{
      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      &:hover .cat_menu_img:before{
        background: var(--color-light-sand);
      }
      .cat_menu_img{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:before{
          content: "";
          display: block;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          background: #FBFBFB;
          z-index: 0;
        }
        img{
          /*position: absolute;*/
          position: relative;
        }
      }
      .cat_menu_name{
        font-size: 0.8125rem;
        line-height: 1rem;
        font-weight: bold;
        color: var(--color-gr);
        text-transform: uppercase;
        margin-top: 30px;
      }
    }
  }


    .menu_navbar{
      display: flex;
      align-items: center;

      width: 100%;
      .toggle_button{
        display: flex;
        align-items: center;
        min-width: max-content;

        .toggle_icon{
          margin-right: 15px;
          cursor: pointer;
          .toggle_icon_line {
            background: var(--color-gr);
            height: 2px;
            width: 20px;
            flex: 0 0 100%;
            /*margin-bottom: 3px;*/
          }
          .toggle_icon_line:nth-child(2){
            margin: 4px 0;
          }
        }
        .toggle_icon_line:last-child{
          margin-bottom: 0;
        }
        .toggle_text{
          color: var(--color-light-gr);
          cursor: pointer;
        }
      }
      .menu_list{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        margin: 0;
        //margin-left: 50px;
      }
      .menu_item{
        flex: initial;
        text-align: center;
        .menu_item_link{
          display: inline-block;
          color: var(--color-text);
          padding: 0 10px;
          text-decoration: none;
        }
      }
      .toggle_button,
      .menu_item{
        font-weight: bold;
        text-transform: uppercase;
      }
    }

.mobile_close{
  display: none;
}

@media(max-width: 1199px){

}
@media(max-width: 991px){
  .cat_menu {
    &.active {
      /*display: block;*/
    }
  }
}
@media(max-width: 767px){
  .menu_navbar{
    width: initial;
    .toggle_button{
      .toggle_icon{
        margin-right: 0;
      }
    }
  }
  .toggle_button{
    .toggle_text{
      display: none;
    }
    .menu_list{
      /*display: none !important;*/
    }
    .tel_block{
      /*display: none;*/
    }
    &.toggled{
      .menu_list{
        /*display: flex !important;*/
        flex-direction: column;
      }
      .tel_block{
        /*display: flex;*/
      }
    }
  }

  .header .header_lvl_1 .header_icons{
    justify-content: space-between;
    position: initial;
  }
  .cat_menu.active{
    top: 0;
    display: block;
    /*max-height: 100vh;*/
    height: 100%;
    display: flex !important;
    padding: 0;
    background: transparent;
    .grid-container{
      padding: 0;
      overflow-x: hidden;
      background: #fff;
      .grid-row{
        background: #fff;
        max-width: 100%;
        margin: 0;
        padding: 50px 0;
        padding-left: 20px;
      }
    }

    .cat_menu_item{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        flex-direction: row;
        justify-content: flex-start;
        .cat_menu_name{
          margin: 0;
          margin-left: 15px;
        }
        .cat_menu_img{
          &:before{
            width: 65px;
            height: 65px;
          }
          img{
            max-width: 100px;
            height: auto;
          }
        }
      }
    }
    .mobile_close{
      display: block;
      background: rgba(46, 109, 92, 0.95);
      width: 70px;
      height: 100%;
      padding-top: 30px;
      text-align: center;
    }
    .menu_list{
      margin-left: 0;
      margin-bottom: 40px;
      align-items: flex-start;
      .menu_item{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .tel_block{
      text-align: left;
    }
  }
  .header_icons > .menu_navbar,
  .header_icons > .icon_item{
    /*flex: 1;*/
    min-width: max-content;
    margin: 0;
    text-align: center;
  }
  .icon_basket{
    display: flex;
    align-items: center;
    .basket_counter{
      margin: 0;
      margin-left: 5px;
    }
  }
  .header_search{
    max-width: initial !important;
    width: initial !important;
    .search_form{
      justify-content: center;
      .form_group{
        position: absolute;
      }
    }
  }
  .cat_menu_item_mobile{
    .menu_list{
      flex-direction: column;
    }
  }
}
@media(max-width: 575px){
  .icon_logo_gr{
    img{
      max-width: 85px;
    }
  }
  .cat_menu.active{
    .cat_menu_item{
      padding: 0 7.5px;
      a{
        .cat_menu_img{
          img{
            max-width: 70px;
          }
        }
        .cat_menu_name{
          text-align: left;
        }
      }
    }
    .cat_menu_item_mobile{
      padding: 0 7.5px;
      padding-right: 15px;
    }
  }
}
@media(max-width: 375px){

}
