.slider {
  position: relative;
}
  .slider_counter{
    position: relative;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
      width: min-content;
    }
    .slider_counter_circle{
      max-height: 55px;
    }
    .slider_counter_inner{
      background: url("../img/slider_counter_circle.svg") no-repeat center;
      background-size: cover;
      position: relative;
      display: flex;
      align-items: center;
      font-family: "Prata";
      color: var(--color-sand);
      min-width: 55px;
      min-height: 55px;
      .current{
        font-size: 1.3rem;
        line-height: 1;
        color: var(--color-gr);
        width: calc(100% - 3px);
        margin: 0 auto;
        text-align: center;
        padding-top: 5px;
      }
      .separator_total{
        position: absolute;
        top: 11px;
        right: -15px;
        .separator{

        }
        .total{
          font-size: .875rem;
          line-height: 1.25rem;
        }
      }
    }
  }

  .slider_arrows{
    position: relative;
    display: flex;
  }
  .slick-arrow{
    position: relative;
    width: 80px;
    height: 26px;
    top: 0;
    transform: none;
    &:before{
      display: none;
    }
    &:hover path{
      stroke: var(--color-sand);
    }
  }
  .slick-prev{
    left: 0;
  }
  .slick-next{
    right: 0;
  }
  .slider_img{
    img{
      margin: 0 auto;
    }
  }

  /* чтобы слайдеры не прыгали при загрузке */
  .main_slider_for,
  .main_slider_nav,
  .main_slider .product_container{
    opacity: 0;
  }
  .main_slider_for,
  .main_slider_nav,
  .main_slider .product_container{
    &.slick-initialized{
      opacity: 1;
    }
  }


  /* слайдер на главной */
  .main_slider{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    .slider_item{
      position: relative;
    }
    .slider_img{
      position: relative;
    }
    .slider_text{
      position: absolute;
      top: 180px;
      left: 50px;
      width: 100%;
      max-width: 340px;
      z-index: 1;
    }
    .slick-prev{
      margin-right: 30px;
    }
    .slick-next{
      margin-left: 30px;
    }
    .slider_counter{
      position: absolute;
      z-index: 5;
      top: 80px;
      left: 50px;
    }
    .slider_arrows{
      position: absolute;
      bottom: 70px;
      left: 50px;
      z-index: 5;
    }
  }

  /* слайдер в табах */
  .slider_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    .slider_counter{
      margin: 0 85px;
    }
    .slider_arrow_prev,
    .slider_arrow_next{
      position: relative;
      display: block !important;
      &:hover path{
        stroke: var(--color-sand);
      }
    }
  }

  .pagination_left_arrow,
  .pagination_right_arrow{
    cursor: pointer;
    &:hover path{
      stroke: var(--color-sand);
    }
  }

  /* слайдер в деталке товара */
  .product_slider{
    display: flex;
    justify-content: space-between;
    .product_slider_for{
      display: flex;
      align-items: center;
      flex-basis: 550px;
      max-width: 550px;
      background: url("../img/product_for_bg.svg") no-repeat center;
      background-size: contain;
      .slick-list{
        max-width: 80%;
        margin: 0 auto;
      }
      .slick-prev{
        left: -30px;
      }
      .slick-next{
        right: -30px;
      }
      .slick-arrow{
        z-index: 1;
        position: absolute;
        top: 50%;
        &:hover path{
          stroke: var(--color-sand);
        }
      }
      .product_slider_item{
        position: relative;
        /*&:after{
          content: "";
          display: block;
          max-width: 550px;
          height: auto;
          border-radius: 100%;
          background: var(--color-light-pers);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }*/
      }
    }
    .product_slider_nav{
      display: flex;
      flex-basis: 130px;
      max-width: 130px;
    }
    .product_slider_item{
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }

@media(max-width: 1300px){
  .product_slider{
    .product_slider_for{
      flex-basis: 500px;
      max-width: 500px;
    }
  }
}

@media(max-width: 1199px){
  .main_slider_content{
    .main_slider_content_col{
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: flex-start;
    }
    .main_slider_item p{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
    .slider_counter{
      margin-bottom: 20px;
    }
    .slider_arrows{
      margin-top: 20px;
    }
  }
  .product_slider{
    .product_slider_for{
      flex-basis: initial;
      max-width: 100%;
      margin-bottom: 30px;
      .slick-prev{
        left: 0;
      }
      .slick-next{
        right: 0;
      }
    }
    .product_slider_nav{
      flex-basis: initial;
      max-width: 100%;
    }
  }
}
@media(max-width: 991px){
  .main_slider_content{
    .slider_counter{
      .slider_counter_inner{
        min-width: 45px;
        min-height: 45px;
        .slider_counter{
          margin-bottom: 0;
          .current{
            font-size: 1rem;
            padding-top: 0;
          }
        }
      }
    }
    .main_slider_content_col{
      justify-content: space-between;
    }
    .main_slider_item{
      h2{
        margin-bottom: 0;
      }
      p{
        -webkit-line-clamp: 3;
      }
    }
  }
}

@media(max-width: 575px){
  .main_slider{
    background-color: var(--color-light-pers);
    position: relative;
    padding: 50px 15px 35px 15px;
  }
  .main_slider_content_col{
    position: initial;
    padding-top: 25px;
  }
  .main_slider_content{
    position: initial;
    .main_slider_item {
      h2{
        font-size: 1.875rem;
        line-height: 2.5rem;
      }
      p{
        -webkit-line-clamp: 2;
      }
    }
    .slider_counter{
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
  .slider_arrows{
    justify-content: space-between;
  }
}
