extends common/layout

block content
    include includes/index/main_slider
    include includes/index/teasers
    include includes/index/tab_block
    include includes/index/block_video
    include includes/index/banners
    include includes/index/block_blog
    include includes/index/inst
    .block_comp_descr
      include common/block_about
      include common/block_who
