extends common/layout

block content

  .grid-container
    .grid-row
      .grid-col-12
        .text_content
          h1 Список страниц
          ul
            li
              a(href='home.html') Главная
            li
              a(href='catalog.html') Каталог
            li
              a(href='product-detail.html') Деталка товара
            li
              a(href='cart.html') Корзина
            li
              a(href='checkout.html') Оформить заказ
            li
              a(href='myaccount.html') Личный кабинет
            li
              a(href='blog.html') Блог
            li
              a(href='akcii.html') Акции
            li
              a(href='post.html') Запись блога/акции
            li
              a(href='contacts.html') Контакты
            li
              a(href='text_page.html') Текстовая страница

