extends common/layout

block content
  include includes/product/breadcumbs
  include includes/product/title

  include includes/product/product
  include includes/product/product_linked
  include includes/product/product_about
  include includes/product/product_recommended

  .block_comp_descr
    include common/block_who
