.cart
  .grid-container
    .grid-row.cart_product_items
      .grid-col-12.cart_product_item
        .cart_product_img
          a.cart_product_img_link
            img
        .cart_product_descr
          .cart_product_art
            | Код товара: 1799190
          .cart_product_name
            | Массажер для шеи и плеч  NAIPO MGS-N12CS беспроводной
        .cart_product_cost
          | 13 500 Р
        .cart_product_count

        .cart_product_total
          | 13 500 Р
        .cart_product_actions
          .cart_product_remove
          .cart_product_restore


    .grid-row.customer
      .grid-col-md-6.offset-md-3.col-12.customer_data
        .block_title
          h3.text-center Данные покупателя
        .form_group


