.catalog.mb-145
  .grid-container
    .grid-row
      .grid-col-md-3.grid-col-12.catalog_filter
      .grid-col-md-9.grid-col-12.catalog_products
        .catalog_sort_count
          .catalog_sort
            .dropdown_box
              .dropdown_current.btn
                .dropdown_current_text По возрастанию стоимости
                .dropdown_arrow
                  img(src='img/dropdown_arrow.svg', alt='')
              ul.dropdown_list
                li.dropdown_item
                  a.dropdown_item_link По популярности
                li.dropdown_item.checked
                  a.dropdown_item_link По возрастанию стоимости
                li.dropdown_item
                  a.dropdown_item_link По убыванию стоимости
                li.dropdown_item
                  a.dropdown_item_link По скидкам
          .catalog_product_count
            | 277 товаров в наличии
        .product_container
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                img(src='img/product_card_img_2.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_3.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 3 500 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_4.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 350 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                img(src='img/product_card_img_2.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_3.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 3 500 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_4.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 350 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                img(src='img/product_card_img_2.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_sale
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text
                    | sale
                    span.product_banner_val -15%
              .product_img
                img(src='img/product_card_img_1.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 13 500 Р
                .product_price_item.product_price_discount
                  | 9 999 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
                .product_banner.product_banner_new
                  svg(width='48', height='48', viewBox='0 0 48 48')
                    circle(cx='24', cy='24', r='22')
                  span.product_banner_text Новинка
              .product_img
                img(src='img/product_card_img_2.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 800 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_3.png', alt='')
              .product_name
                | Массажер для шеи и плеч NAIPO MGS-N12CS беспроводной
              .product_price
                .product_price_item.product_price_base
                  | 3 500 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
          .product_card
            .product_card_inner
              .product_banners
              .product_img
                img(src='img/product_card_img_4.png', alt='')
              .product_name
                | Спрей для роста волос с маслом Марулы комплексный уход 12 в 1, MEOLI, 250 мл
              .product_price
                .product_price_item.product_price_base
                  | 350 Р
              .product_cart
                img(src='img/icon_basket.svg', alt='')
        .show_more
          a.btn.btn_bordered Показать еще

        include ../../common/pagination
