@charset "UTF-8";
:root {
  --color-light-gr: #2E6D5C;
  --color-gr: #26694C;
  --color-dark-gr: #2E6D5C;
  --color-light-sand: #F3E7D7;
  --color-sand: #BBA688;
  --color-dark-sand: #3C2C16;
  --color-text: #313A38;
  --color-light-grey: #FBFBFB;
  --color-pers: #CE8A88;
  --color-light-pers: #F5EADF;
  --color-soft-pink: #FFEBE6; }

.ovf_h {
  overflow: hidden; }

.gr {
  fill: var(--color-gr); }

.sand {
  fill: var(--color-sand); }

.light-pers {
  background: var(--color-light-pers); }

.gr_link {
  color: var(--color-gr);
  text-decoration: none; }

/* отступы */
.mb-100 {
  margin-bottom: 100px; }

.mb-145 {
  margin-bottom: 145px; }

/* иконки */
.icon_tel {
  max-height: 35px; }

.icon_loupe {
  border: 0;
  padding: 0;
  background: #fff;
  cursor: pointer; }
  .icon_loupe:focus {
    outline: none !important; }

.basket_counter {
  font-family: 'Prata', serif;
  font-size: 8px;
  line-height: 1;
  color: #fff;
  text-align: center;
  background: var(--color-gr);
  border-radius: 100%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -16px;
  padding-top: 4px; }

.icon_item {
  margin-left: 40px;
  cursor: pointer; }

.icon_item:first-child {
  margin-left: 0; }

/* кнопки */
.btn {
  border: 1.5px solid #2E6D5C;
  border-radius: 55px;
  padding: 17px 30px;
  cursor: pointer;
  font-size: 0.813rem;
  line-height: 1rem;
  color: var(--color-gr);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  min-width: 250px;
  text-align: center; }

.btn_fill {
  background: var(--color-gr);
  color: #fff; }

/* заголовок страницы */
.title .title_box {
  text-align: center;
  margin-bottom: 35px; }
  .title .title_box h1 {
    margin-bottom: 0; }

/* заголовок в блоке */
.block_title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px; }
  .block_title h2 {
    text-align: center;
    margin-bottom: 0; }
  .block_title .title_more {
    position: absolute;
    right: 0; }
    .block_title .title_more .more {
      margin: 0; }

/* блок с телефоном */
.tel_block {
  display: flex;
  align-items: center; }
  .tel_block .icon_tel {
    margin-right: 10px; }
  .tel_block .tel_box .tel_number {
    font-family: "Prata";
    font-size: 1rem;
    line-height: 1.0625rem;
    color: var(--color-gr);
    text-decoration: none; }
  .tel_block .tel_box .tel_descr {
    font-size: 0.6875rem;
    line-height: 0.875rem;
    font-weight: 500;
    color: var(--color-sand); }

/* блок с видео */
.video {
  position: relative; }
  .video .video_preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat; }
  .video video {
    max-width: 100%;
    height: auto; }
  .video .button_video {
    border: 0;
    border-radius: 0;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 2;
    cursor: pointer; }
    .video .button_video:focus {
      outline: none; }
    .video .button_video:hover svg ellipse {
      fill: var(--color-sand); }

/* кнопка подробнее/читать дальше */
a.more {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--color-gr);
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 45px; }
  a.more svg {
    margin-left: 20px; }
  a.more:hover, a.more:hover svg path {
    color: var(--color-sand);
    stroke: var(--color-sand); }

/* выпадающий список */
.dropdown_box {
  color: var(--color-gr);
  min-width: 410px;
  position: relative; }
  .dropdown_box .dropdown_current {
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .dropdown_box .dropdown_current .dropdown_current_text {
      margin-right: 15px; }
  .dropdown_box .dropdown_list {
    display: none;
    list-style: none;
    padding: 20px 40px 30px 40px;
    background: #FFFFFF;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5; }
    .dropdown_box .dropdown_list .dropdown_item {
      display: flex;
      align-items: center; }
      .dropdown_box .dropdown_list .dropdown_item .dropdown_item_link {
        font-size: 0.875rem;
        line-height: 1.625rem;
        font-weight: 500;
        color: inherit;
        cursor: pointer; }
      .dropdown_box .dropdown_list .dropdown_item.checked {
        color: var(--color-sand); }
        .dropdown_box .dropdown_list .dropdown_item.checked:before {
          content: "";
          display: block;
          width: 13px;
          height: 10px;
          margin-right: 8px;
          margin-left: -21px;
          background: url("../../img/dropdown_checked.svg") no-repeat top center; }

/* выпадающий выбор города */
.dropdown_city .dropdown_current {
  justify-content: flex-start;
  cursor: pointer; }
.dropdown_city .dropdown_city_icon {
  margin-right: 15px; }
.dropdown_city .dropdown_city_cur_box {
  display: flex;
  flex-wrap: wrap; }
  .dropdown_city .dropdown_city_cur_box span {
    font-size: 0.75rem;
    line-height: 1.5rem;
    color: var(--color-sand);
    flex: 0 0 100%; }
  .dropdown_city .dropdown_city_cur_box .dropdown_current_text {
    font-family: 'Prata', serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-transform: uppercase; }
.dropdown_city .dropdown_list {
  max-width: 100%; }
  .dropdown_city .dropdown_list .dropdown_item:before {
    content: "";
    display: block;
    margin-right: 15px !important;
    margin-left: -15px !important;
    background: url("../../img/dropdown_city_item_icon_gr.svg") no-repeat top center;
    width: 12px !important;
    height: 16px !important; }
  .dropdown_city .dropdown_list .dropdown_item.checked:before, .dropdown_city .dropdown_list .dropdown_item:hover:before {
    background: url("../../img/dropdown_city_item_icon_sand.svg") no-repeat top center; }

/* пагинация */
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .pagination .pagination_list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0 15px; }
    .pagination .pagination_list .pagination_item {
      font-family: 'Prata', serif;
      font-size: 0.875rem;
      line-height: 1.188rem;
      color: var(--color-sand);
      display: flex;
      align-items: center; }
      .pagination .pagination_list .pagination_item:after {
        content: '/';
        font-size: 0.875rem;
        line-height: 1.188rem;
        color: var(--color-sand);
        display: inline-block; }
      .pagination .pagination_list .pagination_item:hover {
        color: var(--color-gr); }
      .pagination .pagination_list .pagination_item .pagination_item_link {
        padding: 10px 17px; }
      .pagination .pagination_list .pagination_item.active .pagination_item_link {
        font-size: 1.875rem;
        line-height: 1.875rem;
        color: var(--color-gr);
        width: 56px;
        height: 56px;
        background: url("../../img/pagination_counter_circle.svg") no-repeat top center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-top: 2px;
        margin: 0 17px; }

@media (max-width: 1199px) {
  .mb-145 {
    margin-bottom: 70px; }

  .mb-100 {
    margin-bottom: 50px; } }
@media (max-width: 991px) {
  .mb-145 {
    margin-bottom: 50px; } }
@media (max-width: 767px) {
  .tel_block {
    align-items: flex-start; } }
@media (max-width: 575px) {
  .tel_block circle,
  .tel_block path {
    stroke: var(--color-sand); }
  .tel_block .tel_descr {
    text-transform: none; }

  a.more {
    margin-top: 25px; }

  .button_video svg {
    width: 65px;
    height: 65px; } }

/*# sourceMappingURL=elements.css.map */
